.container {
  height: 98vh;
  display: grid;

  grid-template-areas: "controls" "." "map" "jsonResult";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1rem .7fr .3fr;

  @media screen and (min-width: 992px) {
    grid-template-areas: "controls controls ." ". . ." "map map jsonResult";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4rem 1rem 1fr;
  }

}

.controls {
  grid-area: controls;
}

.map {
  position: relative;
  grid-area: map;

  .backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0.5;
    background-color: black;
  }
}

.json-result {
  grid-area: jsonResult;
}

.loading-circle {
  width: 2.5rem;
  height: 2.5rem;

  position: absolute;
  top: calc(50% - 1.25rem);
  left: calc(50% - 1.25rem);

  border: 1rem solid rgba(0, 0, 0, 0);
  border-top-color: white;
  border-radius: 3.5rem;

  animation: spin infinite 2s linear;

  &[data-order='0'] {
    border-top-color: darkgray;
  }

  &[data-order='1'] {
    animation-delay: .5s;
    animation-duration: 1s;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
