<section class="container">
  <div class="controls">
    <app-search
      [error]="sourceError"
      [disabled]="disableControls"
      (link)="onLink($event)"
    ></app-search>
  </div>

  <div class="map" *ngIf="!sourceError">
    <div class="backdrop" *ngIf="isLoadingMap; else map">
      <div class="loading-circle" data-order="0"></div>
      <div class="loading-circle" data-order="1"></div>
    </div>
    <ng-template #map>
      <app-lab-map
        [mapOptions]="mapOptions"
      ></app-lab-map>
    </ng-template>
  </div>

  <div class="json-result" *ngIf="rawData">
    <app-result
      [shouldDisplay]="!sourceError"
      [value]="rawData | json"
    ></app-result>
  </div>
</section>
